<div class="row">

  <h4>add</h4>

  <form class="" method="" ng-submit='addSubmit(description, img, lookUp)'>
      <div class="row">
        <div class="input-field col s6">
          <textarea  placeholder="description" ng-model='description'type="textarea" class="validate">
          </textarea>
        </div>
      </div>

    <div class="row">
      <div class="input-field col s6">

        <input  placeholder="image URL" ng-model='img'type="text" class="validate">

      </div>
    </div>

  
    <select ng-model="lookUp" ng-options="obj.category_name for obj in names track by obj.id">
    </select>


    <button class="btn waves-effect waves-light" type="submit" name="">add new Item
    </button>

  </form>

</div>
