<div class="hidden-xs">
  <div class="col-sm-2 sidenav">
    <div class='row logo-container'>
      <img class="logo-img"src="/img/jac-temp-logo.png" alt="" />
    </div>

    <div class="row side-nav-links">
      <a ui-sref="home">
        <button class="links" type="button"><h4>About</h4></button>
      </a>
    </div>

    <div class="row side-nav-links">
      <a ui-sref="work">
        <button class="links" type="button"><h4>Work</h4></button>
      </a>
    </div>
    <div class="row side-nav-links">
      <a ui-sref="contact">
        <button class="links" type="button"><h4>Contact</h4></button>
      </a>
    </div>
</div>
