<div class="row">
  <div class="col-xs-11 ">
    <h2>Jacqueline James</h2>

    <p>Jacqueline was born in Minnesota but has been in Colorado since the age of 4. After graduating from the Aveda Institute in Denver, she knew she wanted to stay with the Aveda Network and be in Boulder. Doing hair comes natural to this girl and she is excited to grow as a stylist. When Jacqueline is not styling hair you can find her star gazing and playing with her dogs. Her happy spirit will make anyone’s day.</p>
  </div>
</div>
